.first_nill{
	color: red;
	font-weight: bold;
	font-size: 100px;
}
.second_nill{
	color: red;
	font-size: 60px;	
}

.display_wait_big{
	font-weight: bold;
	font-size: 30px;
}

.display_wait_small{
	font-size: 30px;
}